/* Basic Styling */

body {
    color: black;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #DCD6F7;
    /* width: 100vw; */
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

h1 {
    font-weight: normal;
    line-height: 0.7;
    align-self: center;
    padding-left: 20px;
    flex: 1;
}

.racenav li {
    text-decoration: none;
    border: 1px rgb(114, 110, 110) solid;
}

footer {
    background-color: #8093E5;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    flex: 1;
    max-height: 50px;
    margin-top: auto;
}

nav a {
    padding: 0 10px;
}

/* Main Styles */

.homescreen {
    height: 100vh;
    background-color: #424874;
    color: black;
}

.menu {
    margin: 30vh 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu a:hover {
    color: #8093E5;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    flex: 1;
}

.menu-nav a{
    padding: 20px;
    margin: 10px;
    display: flex;
    background-color: #DCD6F7;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}

.main-header {
    background-color: #424874;
    text-align: center;
    height: 90px;
    /* margin-bottom: auto; */
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    justify-content: space-between;
    position: sticky;
    align-self: flex-start;
    top: 0;
    border-bottom: 5px solid black;
}

#asiassign {
    border-top: 5px black solid;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#asiassign button {
    width: 100px;
    align-self: center;
}

.asilist{
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}

.asilist li{
    flex: 0;
    border: 1px black solid;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 30px;
    min-width: 30px;
    text-align: center;
}

#raceasi li{
    border: 1px black solid;
    list-style-type: none;
    text-align: center;
    height: 20px;
    width: 30px;
}

.asi {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#elfasi{
    display: none;
}

#asiinputs input {
    width: 30px;
}

#asinames,
#raceasi {
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 30px;
}

#asinames li{
    list-style-type: none;
}

.asi div{
    text-align: justify;
}

.asi p {
    display: block;
}

#disclaimer {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    background: #8093E5;
    color: black;
    text-align: center;
}

#wrapper {
    display: flex;
    flex: 1;
    margin: 0 auto;
    justify-content: space-between;
}

h4 {
    font-size: 1em;
    text-decoration: underline;
    font-weight: normal;
    border: none;
}

#racenav, #sourcenav {
    list-style-type: none;
}

a.genlink:hover {
    color: #8093E5;
}

a.hover {
    color: #8093E5;
}

#racenav a:hover,
#sourcenav a:hover,
.main-header a:hover {
    color: #8093E5;
}

#racenav a:checked,
#sourcenav a:checked {
    color: grey;
}

.race {
    border-bottom: 5px solid black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.navbutton {
    width: 40px;
    height: 25px;
    text-align: center;
    position: sticky;
    align-self: flex-start;
    top: 100px;
}

#navbar {
    background-color: #346660;
    color: #DCD6F7;
    display: none;
    text-align: center;
    height: auto;
    width: 50%;
    flex-direction: column;
    padding-right: 10px;
}

#offbutton {
    display: none;
    position: sticky;
    align-self: flex-start;
}

#accordion {
    padding-left: 10px;
}


#aboutwrapper,
#randomwrapper {
    height: 80vh;
}

#aboutwrapper,
#randomwrapper,
#genwrapper {
    width: 80%;
    align-self: center;
}

.button {
    font: bold Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

/* Scrollbar Customizations */

::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-track {
    background: #424874;
}
::-webkit-scrollbar-thumb {
    background: #424874;
}

/* Media Queries */

@media (max-height: 600px){

    .main-header {
        height: 60px;
        /* font-size: medium; */
    }
    h1{
        padding-top: 5px;
        font-size: 1em;
    }
    .navbutton {
        top: 45px;
    }
}

@media (min-width: 760px) {
    /* body {
        /* font-size: 2em;
    } */
    #wrapper {
        margin: 0 auto;
        width: 100%;
    }
    #accordion {
        padding-left: 30px;
        vertical-align: top;
    }

    .main-header {
        flex-direction: row;
        height: 70px;
    }

    h1 {
        font-size: 1em;
    }

    .navbutton {
        font-size: medium;
        top: 70px;
    }

    #navbar {
        /* justify-content: space-around; */
        width: 30%;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    #navbar {
        width: 20%;
    }

    #accordion {
        width: 70%;
        margin-right: 10px;
    }
}